body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    background-image: url(beanstalk.png);
    background-repeat: inherit;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

.paperDiv {
    margin: 3%;
}

.paperArea {
    padding: 3%;
}

.cardDiv {
    margin: 3%;  
}

.logInReg {
    margin: 3%;  
    text-align: center;
}

table {  
    color: #333; /* Lighten up font color */
    font-family: Helvetica, Arial, sans-serif; /* Nicer font */
    width: 100%; 
    border-collapse: collapse; 
    border-spacing: 0; 
}

td, th { border: 1px solid #CCC; } /* Make cells a bit taller */

th {  
    background: #F3F3F3; /* Light grey background */
    font-weight: bold; /* Make sure they're bold */
}

td {  
    background: #FAFAFA; /* Lighter grey background */
    text-align: center; /* Center our text */
}

.tableDiv {
    text-align: center;
}

.centerTitle, .center {
    text-align: center;
}

.editInfo {
    font-size: 20px;
}